.slider{
  @media(min-width:540px){

    min-height: 92vh;
  }

  @media(min-width:1280px){
    min-height: 91.12vh;
  }

  @media(min-height:960px){
    min-height: 93vh;

  }

  .container{
    max-height: 81vh;
  }

  h1{
    letter-spacing: 0.2rem;
  }

  .line{
    height: 0.1px;
  }

  .img-slider{
    min-width: 16.5rem;

    img{
      min-width: 100%;
    }
  }

  .slider-left{

    @media(min-width:768px){
      min-height:19rem;
    }
    .slider-info-wrapper{
      .slider-info{
        min-width: 100%;
      }
    }
  }

  .manual-navigation{
    .btn{
      cursor: pointer;
      background: #464950;
      transition: 0.2s ease-in-out;

      &.active{
        background: #fff;
      }

      &:hover{
        background: #808186;
      }
    }
  }
}