.technology{
  .circle{
    &.active{
      background: #fff;
      color: rgb(11, 13, 23);
    }
  }

  @media(min-width:1280px){
    margin-top: 14.4%;

    h1{
      margin-bottom: 2%;
    }

    .tech-text{
      width:47%;
    }
  }

  h2, p, .tech-img-wrapper{
    opacity: 0;
    transform: translateY(50%);
    transition:opacity 0.6s, transform 0.3s 0.1s cubic-bezier(0.54, 0.24, 0.62, 0.8);


    &.active{
      opacity: 1;
      transform:translateY(0);
    }
  }
  
  .tech-text{
    display: grid;
    grid-template-areas: "h2" "p";

    h2{
      grid-area: h2;
    }

    p{
      grid-area: p;
    }
  }

  .tech-imgs{
    display: grid;
    grid-template-areas: 'img';

    .tech-img-wrapper{
      grid-area: img;
    }
  }
}